/*google imports*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Background image and contact background, all pages*/
body {
    font-family: 'Nunito', sans-serif;
    margin-top: 57px;    
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-repeat: no-repeat;    
    background-blend-mode: lighten;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../images/roofing-twelve.webp);
    }    

#navbarNav {
    font-family: sans-serif;
   }

h1 {
    font-family: sans-serif;
    font-size: 1.5rem;
    }

h2 {
    font-family: sans-serif;
   }

#logo img {
    margin-top: 75px;
    width: 90%;
    height: auto;
    max-width: 280px;
    max-height: 148px;        
    } 

    /*Call now button*/
#call-now {
    background-color: #677381;
    border: 2px solid #677381;
    padding: 2px;
    color: white;
    text-decoration: none;
    border-radius: 5px;    
    margin-right: 2px;    
    }

    /*About us section*/
#about-us {
    -webkit-text-decoration: solid;
    text-decoration: solid;
    padding: 12px 20px;
    margin-top: 75px;
    margin-bottom: 25px;
    }
/*Used the eye dropper tool (on the logo) in dev tools to contrast the background color of the container to the html background*/
main > .container {
    background-color: #b7b7b7;
    }

/*Services Page*/
#services {
    padding-top: 12px;
    margin-top: 25px;
    margin-bottom: 12px;
    }

#services-list > ul {
    list-style-type: none;
    margin-right: 30px;
    }

#carouselRoofing {
    margin-bottom: 8px;
    }

.carousel-inner img {
    width: 405px;
    height: 320px;

    }

.carousel-indicators {
    background-color: #2a272a; 
    margin: 0 20% 1rem;    
    }

#services ul li a {
    color: #2a272a;
    }

#services ul li a:hover {
    color: #3d4044;
    }

.modal-body {
    overflow-y: hidden;
    }

/*Gallery page*/
main #gallery {
    background-color: #b7b7b7;
    padding-top: 25px;
    margin-bottom: 8px;
    } 

#gallery div > img {
    margin-bottom: 25px;
    width: 546px;
    height: 409.5px;
    -o-object-fit: cover;
    object-fit: cover;
    }

#h2-hide {
    display: none;
    }

#gallery div > img:hover {    
    border-color: #677381;
    }

/*Video*/

/* container for responsive video player - */
.video {
    width: 80%;
    margin: 0 auto 25px auto; 
    /* auto margin left and right */
}

/* responsive youtube code adapted from article on 
avexdesigns.com/blog/responsive-youtube-embed */
.youtube-container { 
    position: relative; 
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
} 
    
.youtube-container iframe,
.youtube-container object,
.youtube-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}
/*Enquiry Page*/
#enquirySubtitle {
    margin: 30px 0;
    }

#enquiryForm {
    margin-bottom: 12px;
    padding-bottom: 12px;
    }

.submit {
    background-color: #2b3035;
    color: white;
    padding: 4px 8px;
    border: solid 2px #2b3035;
    }

.submit:hover {
    background-color: white;
    color: #2b3035;
    padding: 4px 8px;
    border: solid 2px #2b3035;
    }


/*Contact Section*/
footer{
    margin: 0;
    }
/*Used the eye dropper tool (on the logo) in dev tools to contrast the background color of the container to the html background*/
#contact {  
    width: 100%;
    background-color: #b7b7b7;
    padding-bottom: 25px;
    padding-top: 10px;
    }

#call-text {
    display: none;
    }

/*Social links*/
#social-links a {
    color: black;
    }

#social-links a:hover {
    color: #2a272a;
    }

/*Telephone links*/
p > a {
    color: black;
    }

/*Modals*/
.modal-content {
    background-color: #2b3035;
    color: white;
    }

/*Media queries*/
/*devices 321x and lower*/
@media screen and (max-width:321px) {
/*This rule keeps the nav-collapse button at the top on the right of the screen*/
#call-now {
    order: 3;
    }

    .modal-body > img {
        width: 268px;
        height: auto;
    }
}
/*Small devices 576px and up*/
@media screen and (min-width: 576px) {

    /*Contact links*/
#call-now{
    display: none;
    }
#call-links {
    display: none;
    }
#call-text {
    display: contents;
    }       
}   


/*Medium devices 768px and up*/
@media screen and (min-width: 768px) {
/*Services page*/
#carouselRoofing {
    margin-bottom: 50px;
    margin-right: 20px;
    }

    /*Enquiry Form*/
#enquiryForm {
    margin: 0 50px;
    }  
}

/*Large devices 992px and up*/
@media screen and (min-width: 992px) {
#navbarNav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    }   

    /*Services page*/  
#carouselRoofing {
    margin-top: 20px;
    }
    
#aspects {
    margin-top: 30px;
    }   

}

/*XL devices 1200px and up*/
@media screen and (min-width: 1200px) {
#aspects ul {
    font-size: 1.5rem;
    }

#aspects {
    margin-top: 0;
    }

#carouselRoofing {
    margin-top: 40px;
    margin-right: 48px;
    }

/*Enquiry Form*/
#enquiryForm {
    margin: 0 100px;
    }
}