/*Google Fonts imports*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/*CSS Variable*/
:root {
    --primary-font: "Nunito", sans-serif;

}

/*Background image and contact background, all pages*/
body {
    margin-top: 57px;     
    background-image: url(/assets/images/roofing-twelve.jpg);
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    }

#contact > section{
    background-color: #677381;
}

#contact > #contact-content {
    padding-bottom: 25px;
    padding-top: 10px;
}

/*About us section*/

#about-us {
    text-decoration: solid;
}

/*Contact Section*/

/*Social links*/
#social-links a {
    color: black;
}

#social-links a:hover {
    color: #2a272a;
}

/*Telephone links*/
p > a {
    color: black;
}
